* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: hsl(200, 100%, 90%);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.to-do-list {
  text-align: center;
  margin-top: 100px;
}

button {
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: rgb(0, 255, 119);
}

.add-button:hover {
  background-color: rgb(0, 175, 82);
}
.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: darkred;
}

.move-button {
  background-color: blue;
}
.move-button:hover {
  background-color: rgb(0, 0, 201);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
}

ol {
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
